* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    margin: 0;
}

header {
    background: #020617;
    padding: 20px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #020617;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1e293b;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #020617;
}

.btn-export{
    margin-top:15px;
    width:100%;
    padding:10px;
    background:#0ea5e9;
    color:white;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

.btn-export:hover{
    background:#0284c7;
}

/* --- ESTILOS DEL SIMULADOR DE INVERSIONES --- */
.investment-container {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 2rem; /* Separación de lo de arriba */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* Sombrean suave */
    border-left: 6px solid #2ecc71; /* Borde verde lateral */
}

.investment-card {
    display: grid;
    gap: 15px; /* Espacio entre inputs */
    margin-top: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.btn-invest {
    background-color: #2c3e50; /* Color oscuro serio */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-invest:hover {
    background-color: #1a252f; /* Más oscuro al pasar el mouse */
}

.result-box {
    background-color: #f1f8e9; /* Verde muy clarito de fondo */
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    border: 1px dashed #2ecc71;
}

.hidden { display: none; } /* Clase para ocultar cosas */

.profit-text { color: #27ae60; font-size: 1.5em; margin: 5px 0; }
.total-text { color: #333; font-size: 1.2em; }
